// .header {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: baseline;
// }

.menuCol,
.addCol {
  display: flex;
  justify-content: center;
  align-items: center;
}
